Source: cava
Section: sound
Priority: optional
Maintainer: Harshal Sheth <hsheth2@gmail.com>
Build-Depends: debhelper (>=9), libfftw3-dev, libasound2-dev, libncursesw5-dev, libpulse-dev, libtool, automake, autoconf, libiniparser-dev
Standards-Version: 3.9.6
Homepage: https://github.com/karlstav/cava
#Vcs-Git: git://anonscm.debian.org/collab-maint/cava.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/cava.git

Package: cava
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: C.A.V.A. is a bar spectrum audio visualizer for the Linux terminal using ALSA, pulseaudio or fifo buffer for input.
